/*Inter font class used*/
    
.inter-interfontuse {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


/*raleway font class used*/


.raleway-ralewayfontuse {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


/*----------------------------------------------------------------------*/


nav{
    display: flex;
}

nav ul li{
    list-style: none;
}