body{
    background-image: (Hero-bg.png); /*Back-ground image inserted on the first page*/
}
.colored-text{
    color: #4E47FF;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    font-size: medium;
}